<%- include("partials/heading") %>


<div class="container bg-secondary-subtle rounded p-4">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is a simple back-end application demo that shows a list of students.</p>
    <hr class="my-4">
    <p>This app was designed using mostly Bootstrap boilerplate.</p>
    <a class="btn btn-primary btn-lg" href="/students" role="button">See students</a>
</div>



<%- include("partials/footing") %>